#set( $useMemo = false )
#if (${use_memo} == "t" || ${use_memo} == "true" || ${use_memo} == "y" || ${use_memo} == "yes")
#set( $useMemo = true )#end

#if (${useMemo})import React, {memo} from "react";#end
#if (${useMemo} == false)import React from "react";#end;

const $NAME = ({
    ...props
}) => {
    return (
        <>
            #[[$END$]]#
        </>
    );
}
#if (${useMemo})export default memo($NAME);#end
#if (${useMemo} == false)export default $NAME;#end;

